<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head class="site-header-font">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" type="image/x-icon" href="Assets/Images/icon/favicon.ico">
    <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="Assets/Images/icon/touch.png">
</head>
<body>
    <div id="react-app" class="app-loading"></div>
</body>

</html>
