body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.full-width {
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    height: 75px;
}

.header-title {
    font-size: 26px;
}

.item-data-table th {
    background-color: green;
    color: white;
    font-weight: bold;
}
