@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Smarter Balanced Scoring Guide</title>

    <environment names="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav role="navigation">
        <div class="sbNav">
            <div class="sbNav-titleGroup">
                <div class="sbNav-titleGroup-item">
                    <a target="_blank" href="http://www.smarterbalanced.org/">
                        <img alt="Smarter Balanced Logo" src="~/images/SmarterBalanced_logo.png">
                    </a>
                </div>
                <div class="sbNav-titleGroup-item">
                    <h3>Scoring Guide</h3>
                </div>
            </div>
        </div>
    </nav>

    <main class="container" role="main">
        @RenderBody()
        <hr />
    </main>

    <footer role="contentinfo">
        <a class="footer-practiceTests" href="http://practice.smarterbalanced.org/">Practice and training tests are available here.</a>
        <div class="footer-copyright">
            <p>&copy; The Regents of the University of California – Smarter Balanced Assessment Consortium</p>
            <a class="footer-sbLink" href="//www.smarterbalanced.org">www.SmarterBalanced.org</a>
        </div>
    </footer>

    <environment names="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.js"></script>
    </environment>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
