@using SmarterBalanced.ScoringGuide.Core.Repos.Models
@{
    ViewData["title"] = "Scoring Guide";
}
@model ScoringGuideViewModel

<div id="react-page-container"></div>

@section Scripts {
    <environment names="Development">
        <script src="js/sb.scoringguide.index.js"></script>
    </environment>
    <environment names="Staging, Production">
        <script src="js/sb.scoringguide.index.min.js"></script>
    </environment>
    <script>

        var viewModel = @Json.Serialize(Model);
        EntryPoint.initializePage(viewModel);
    </script>
}