//** Custom Styles

.search-controls {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: @spacing-unit;
  background-color: @sb-white;
  width: 100%;
}
